body{
    background-image: url(./img/backg.jpg);
    width: auto;
    height: auto;
}

.sitebox{
    position: relative;
    width: auto;
    background-color: white;
    margin: 30px 30px 30px 30px;
    /*height: 850px;*/
}

.header{
    /*position: relative;*/
    width: auto;
    height: 64px;
    padding-left: 15px;
    background-image: url(./img/headgradient.png);
    font-family: emoji;
}

.header__village{
    position: absolute;
    color: rgb(8, 163, 8);
    margin-top: 10px;
}

.header__spam{
    position: absolute;
    color: gray;
    left: 70%;
    margin-top: 10px;
}

.navigation{
    /*position: relative;*/
    font-family: monospace;
    width: auto;
    height:auto;
}

.navigation__link{
    font-family: monospace;
    text-decoration: none;
    color: gray;
    padding-left: 70px;
}

.navigation__img{
    width: 100%;
    height: 220px;
}

.paragraphs{
    top: 3px;
    width: 100%;
    height: auto;
    color: gray;
    font-family: initial;
}

.paragraphs__paragraphs-left{
    float: left;
    border-right: dotted;
    height: auto;
}

.paragraphs-left__p-l--padding{
    padding: 0 40px 0 20px;
}
.paragraphs-left__h2--blue{
    margin-left: 30px;
    color:  blue;
    font-family: serif;
    text-transform: uppercase;
    background-image: url(./img/h1bg.png);
    background-repeat: repeat-x;
    background-position-y: bottom;
    width: 70%; 
}

.paragraphs__paragraphs-rigth{
    float: right;
    height: auto;
}

.paragraphs-rigth__p-r--padding{
    padding: 0 50px 0 60px;
}

.paragraphs-rigth__h2--orange{
    margin-left: 60px;
    font-family: cursive;
    color: orange;
    text-transform: uppercase;
    background-image: url(./img/h1bg.png);
    background-repeat: repeat-x;
    background-position-y: bottom;
    width: 70%;  
}

.paragraphs-left__link, .paragraphs-rigth__link{
    text-decoration: none;
    color: rgb(112, 180, 9);
}

.footer{
    text-align: center;
    top: 520px;
    color: gray;
    top: 520px;
    background-image: url(./img/h1bg.png);
    background-repeat: repeat-x;
    background-position-y: bottom;
   
}

.website{
    text-align: center;
}